<!--HTML för en header som ska vara med på alla sidor-->
<header>
    <nav class="header-nav">
        <a class="header-title" href="/">FitForge</a>
        <ul>
            <li><a href="/exercises">Exercises</a></li>
            <li><a href="/exercises/new">Add Exercises</a></li>
            <li><a href="/musclegroups">Musclegroups</a></li>
            <li><a href="/musclegroups/new">Add Musclegroup</a></li>
        </ul>
        <form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-primary" type="submit">Log Out</button>
          </form>
    </nav>
</header>