<header>
    <nav>
        <a href="/">FitForge</a>
        <ul>
            <li><a href="/exercises">Exercises</a></li>
            <li><a href="/exercises/new">Add Exercises</a></li>
        </ul>
    </nav>
</header>