<h2>Recently Added</h2>
<div>
    <% musclegroups.forEach(musclegroup => { %>
        <a href="/musclegroups/<%= musclegroup.id %>"> 
            <img height="150" width="100" src="<%= musclegroup.coverImagepath %>">
        </a>
    <% }) %>
</div>

