<h2 class="page-header">New Musclegroup</h2>
<form action="/musclegroups" method="POST">
    <%- include('_form_fields') %>
    <a href="/musclegroups">Cancel</a>
    <button type="submit">Create</button>
</form>